/* CSS Document */

/* CSS Document */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
	height: 100vh;
	border: 20px solid black;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	
}


.child1{
	height: 200px;
	background: blue;
	flex: 1 1 300px;
}
.child2{
	height: 200px;
	background: orange;
	flex: 1 1 300px;
}
.child3{
	height: 200px;
	background:  pink;
	flex: 1 1 300px;
}
